@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color-light: #ffffff;
    --background-color-dark: #181a1e;
    --text-color-light: #000000;
    --text-color-dark: #fbfbfb;
    --sidebar-background-light: #ffffff;
    --sidebar-background-dark: #000000;
    --header-background-light: #ffffff;
    --header-background-dark: #25252c;
    --icon-color-light: #000000;
    --icon-color-dark: #fbfbfb;
    --input-background-light: #ffffff;
    --input-background-dark: #25252c;
    --button-background-light: #ff2525;
    --button-background-dark: #ff2525;
    --button-hover-background-light: #ff6b6b;
    --button-hover-background-dark: #ff6b6b;
    --sidebar-hover-background-light: #f0f0f0;
    --sidebar-hover-background-dark: #3a3a3a;
    --sidebar-active-background-light: #fbfbfb;
    --sidebar-active-background-dark: #25252c;
    --sidebar-border-color-light: #000000;
    --sidebar-border-color-dark: #ffffff;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    overflow-x: hidden;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

/* Header */
header {
    background-color: #ffffff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionar sombra */
    transition: background-color 0.3s;
}

.search-input {
    background-image: url('/img/search.png');
    background-repeat: no-repeat;
    padding-left: 30px; /* Ajustar o padding para a imagem não ficar colada no texto */
    background-position: 1.2vh; 
    background-size: 16px; /* Diminuir a imagem */
    border-radius: 15px; /* Ajustar a borda */
    width: 35vh;
    height: 4vh; /* Ajustar a altura */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input::placeholder {
    text-align: left; /* Alinhar o texto à esquerda */
}

#usuarioLogado {
    position: absolute;
    right: 2vh;
    padding: 8px 16px;
    border: none;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
}

.icon {
    position: absolute;
    right: 80px;
    top: 14px;
    font-size: 20px;
    color: #fd2b2b;
    text-decoration: none;
    width: 75%;
}

/* Sidebar */
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.bx {
    font-size: 1.7rem; /* Ajustar o tamanho do ícone */
}

a {
    text-decoration: none; /* Remover o sublinhado das tags A */
    color: #000; /* Cor do texto */
}

.dhc {
    width: 10rem; /* Ajuste este valor para o tamanho desejado */
}

li {
    list-style: none;
}

body.dark {
    --light: #000000;
    --grey: #000000;
    --dark: #fbfbfb;
}

body {
    background-color: rgb(236, 236, 236);
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 5px;
    left: 0;
    background-color: var(--sidebar-background-light);
    width: 80px;
    height: 100%;
    z-index: 2;
    overflow-x: hidden;
    scrollbar-width: none;
    box-shadow: 0 2px 0 6rem rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    transition: width 0.3s ease, background-color 0.3s;
    padding-top: 80px; /* Adiciona espaço abaixo do header */
}

.sidebar:hover {
    width: 260px; /* Largura completa ao passar o mouse */
}

.sidebar.close {
    width: 80px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--dark);        
    z-index: 1;
    font-weight: 700;
    padding: 0 10px;
}

.sidebar .logo img {
    width: 75%;
    margin: 0 10px;
    position: absolute;
    top: 1.25rem;
    display: none; /* Esconder logo por padrão */
}

.sidebar .side-menu,
.sidebar .bottom-menu {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espaço entre os itens do menu */
    padding: 0 10px;
}

.sidebar .side-menu li,
.sidebar .bottom-menu li {
    margin: 0.5rem 0;
    height: 3rem;
    background-color: transparent;
    font-size: 12rem;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

.sidebar .side-menu li.active,
.sidebar .bottom-menu li.active {
    border-left: #000000 6px solid;
    background: var(--dark);
    transition: all 0.3s ease-in;
}

.sidebar .side-menu li a,
.sidebar .bottom-menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    white-space: nowrap;
    color: #000;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.sidebar .side-menu li a i,
.sidebar .bottom-menu li a i {
    min-width: 40px; /* Largura mínima dos ícones */
}

.sidebar .side-menu li a span,
.sidebar .bottom-menu li a span {
    display: none; /* Esconder o texto por padrão */
}

.sidebar:hover .side-menu li a span,
.sidebar:hover .bottom-menu li a span {
    display: inline; /* Mostrar o texto ao passar o mouse */
    margin-left: 10px;
}

.sidebar .side-menu li a:hover,
.sidebar .bottom-menu li a:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
    border: 1px solid #000; /* Borda ao passar o mouse */
}

body.dark .sidebar .side-menu li a:hover,
body.dark .sidebar .bottom-menu li a:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
    border: 1px solid #ffffff; /* Borda ao passar o mouse */
}

.sidebar .bottom-menu {
    margin-top: auto; /* Garante que o bottom-menu fique na parte inferior */
    padding-left: 10px; /* Alinha o bottom-menu à esquerda */
    padding-right: 10px; /* Mantém padding horizontal consistente */
    padding-bottom: 2px; /* Espaço extra abaixo do bottom-menu */
}

.sidebar .bottom-menu li {
    margin: 0.5rem 0;
    height: 3rem;
    background-color: transparent;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

.sidebar .bottom-menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    white-space: nowrap;
    color: #000; /* Cor do texto */
}

.sidebar .bottom-menu li a:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
    border: 1px solid #000; /* Borda ao passar o mouse */
}

.sidebar .side-menu li a {
    font-size: 16px;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .sidebar .side-menu li a,
    .sidebar .bottom-menu li a {
        font-size: 0.9rem; /* Diminuir o tamanho do texto ainda mais para telas menores */
    }

    .sidebar .side-menu li a i,
    .sidebar .bottom-menu li a i {
        font-size: 1.2rem; /* Diminuir o tamanho dos ícones ainda mais para telas menores */
    }
}

@media (max-width: 480px) {
    .sidebar .side-menu li a,
    .sidebar .bottom-menu li a {
        font-size: 0.8rem; /* Diminuir o tamanho do texto ainda mais para telas muito pequenas */
    }

    .sidebar .side-menu li a i,
    .sidebar .bottom-menu li a i {
        font-size: 1rem; /* Diminuir o tamanho dos ícones ainda mais para telas muito pequenas */
    }
}
