@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Header */
.search-input {
    background-image: url('/img/search.png');
    background-repeat: no-repeat;
    padding-left: 30px; /* Ajustar o padding para a imagem não ficar colada no texto */
    background-position: 1.2vh; 
    background-size: 16px; /* Diminuir a imagem */
    border-radius: 15px; /* Ajustar a borda */
    width: 35vh;
    height: 4vh; /* Ajustar a altura */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input::placeholder {
    text-align: left; /* Alinhar o texto à esquerda */
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionar sombra */
}

#EntrarBtn {
    position:absolute;
    right: 2vh;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    background-color: #ff2525;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#EntrarBtn:hover {
    background-color: #ff6b6b;
}

.icon {
    position: absolute;
    right: 80px;
    top: 14px;
    font-size: 20px;
    color: #fd2b2b;
    text-decoration: none;
    width: 75%;
}

/* SideBar */
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: #f5f5f5;
}

.bx {
    font-size: 1.7rem; /* Ajustar o tamanho do ícone */
}

a {
    text-decoration: none; /* Remover o sublinhado das tags A */
    color: #000; /* Cor do texto */
}

.dhc {
    width: 10rem; /* Ajuste este valor para o tamanho desejado */
}

li {
    list-style: none;
}

body.dark {
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb;
}

body {
    background-color: rgb(236, 236, 236);
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 5px;
    left: 0;
    background-color: white;
    width: 160px; /* Largura inicial */
    height: 100%;
    z-index: 2;
    overflow-x: hidden;
    scrollbar-width: none;
    box-shadow: 0 2px 0 6rem rgba(255, 255, 255, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    transition: width 0.3s ease; /* Transição para o efeito de abrir/fechar */
}

.sidebar:hover {
    width: 260px; /* Largura completa ao passar o mouse */
}

.sidebar.close {
    width: 80px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--dark);        
    z-index: 1;
    font-weight: 700;
    padding: 0 10px;
}

.sidebar .logo img {
    width: 75%;
    margin: 0 10px;
    position: absolute;
    top: 5%;
    display: none; /* Esconder logo por padrão */
}

.sidebar .side-menu,
.sidebar .bottom-menu {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espaço entre os itens do menu */
    padding: 0 10px;
}

.sidebar .side-menu li,
.sidebar .bottom-menu li {
    margin: 0.5rem 0;
    height: 3rem;
    background-color: transparent;
    padding: 0 10px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

.sidebar .side-menu li.active,
.sidebar .bottom-menu li.active {
    border-left: #181a1e 6px solid;
    background: var(--dark);
    transition: all 0.3s ease-in;
}

.sidebar .side-menu li a,
.sidebar .bottom-menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    white-space: nowrap;
    color: #000;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.sidebar .side-menu li a i,
.sidebar .bottom-menu li a i {
    min-width: 40px; /* Largura mínima dos ícones */
}

.sidebar .side-menu li a span,
.sidebar .bottom-menu li a span {
    display: none; /* Esconder o texto por padrão */
}

.sidebar:hover .side-menu li a span,
.sidebar:hover .bottom-menu li a span {
    display: inline; /* Mostrar o texto ao passar o mouse */
    margin-left: 10px;
}

.sidebar .side-menu li a:hover,
.sidebar .bottom-menu li a:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
    border: 1px solid #000; /* Borda ao passar o mouse */
}

.sidebar .bottom-menu {
    margin-top: 25%;
    padding: 0 10px;
}

.sidebar .bottom-menu li {
    margin: 0.5rem 0;
    height: 3rem;
    background-color: transparent;
    padding: 0 10px;
    border: 1px solid transparent;
}

.sidebar .bottom-menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    white-space: nowrap;
    color: #000; /* Cor do texto */
}

.sidebar .bottom-menu li a:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
    border: 1px solid #000; /* Borda ao passar o mouse */
}

.sidebar .side-menu li a {
    font-size: 12px;
}
